<!-- Toolbar -->
<p>
	<mat-toolbar color="primary">
		<button mat-icon-button class="menu-icon" (click)="sidenav.toggle()">
			<mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
			<mat-icon *ngIf="sidenav.opened">close</mat-icon>
		</button>
		<span>My App</span>
		<button mat-icon-button class="github-icon">
			<mat-icon>github-circle</mat-icon>
		</button>
	</mat-toolbar>
</p>

<mat-sidenav-container [hasBackdrop]="false">
	<mat-sidenav #sidenav [mode]="'over'" [fixedInViewport]="false" (keydown.escape)="sidenav.close()">
		<mat-nav-list>
			<ng-container *ngFor="let menuItem of menuItems">
				<mat-list-item (click)="navigate(menuItem, true, 0)">
					<span class="full-width">{{ menuItem.data.title }}</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : true}" *ngIf="menuItem.data.hasChildren">
						expand_more</mat-icon>
				</mat-list-item>
				<div *ngIf="menuItem.data.hasChildren" class="submenu"
					[ngClass]="{'expanded' : menuItem.data.key === showSubMenu}">
					<mat-list-item *ngFor="let subMenuItem of menuItem.data.children; let childIndex = index;"
						(click)="navigate(menuItem, false, childIndex)">
						{{ subMenuItem.title }}
					</mat-list-item>
				</div>
			</ng-container>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>