p {
    margin: 0;
}

.mat-drawer-container {
    width: 100%;
    height: calc(100vh - 64px);
}

mat-sidenav {
    width: 25%;
    padding: 10px;
}

mat-sidenav-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width {
    width: 100%;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow-y: hidden;
    padding-left: 30px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease;
}

.submenu.expanded {
    transform: scaleY(1);
}